<!--  Header End -->
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4 float-start">Category</h5>
        <a href="/admin/createcategory"><button type="button" class="btn btn-primary float-end">Add category</button></a>
        <div class="card w-100">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table text-center table-striped text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">category Name</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Status</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Action</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(locals.data.length > 0){ 
                    let i = 1;
                    data.forEach((item)=>{
                  %>
                  <tr>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-0"><%= i %></h6>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1"><%= item.categoryName %></h6>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">
                          <% if (!item.status) { %>
                            <button type="button" onclick="changeStatus('<%= item._id %>', true, this)" class="btn btn-success w-50">Active</button>
                            <% } else { %> 
                              <button type="button" onclick="changeStatus('<%= item._id %>', false, this)" class="btn btn-danger w-50">Inactive</button>
                          <% } %>
                        </h6>
                      </td>
                      <td class="border-bottom-0">
                          <a href="/admin/editCategory?id=<%= item._id %>"><button type="button" class="btn btn-primary w-50">Edit</button></a>
                          <br><br>
                          <button type="button" onclick="deleteCategory('<%= item._id %>')" class="btn btn-danger w-50">Delete</button>
                      </td>
                  </tr>
                  <% i++ }) }else{ %>
                      <tr><p></p><%= "No Categories To Show" %></p></tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  

<script>
async function changeStatus(orderId, status, btn) {
    try {
      const response = await fetch("/admin/categoryStatus", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({orderId, status}),
      });

      const result = await response.json()
      
      if(result.status === "success"){
        Toastify({
            text: result.msg,
            className: "info",
            style: {
                background: "linear-gradient(to right, #0b7303, #24c9a3)",
            }
            }).showToast();
            setTimeout(() => {
              location.reload()
            }, 1000);

        
      }else{
        Toastify({
          text: result.msg,
          className: "info",
          style: {
              background: "linear-gradient(to right, #ff0000, #dd2a7f)",
          }
        }).showToast();
      }
      
    } catch (error) {
        Toastify({
          text: error.message,
          className: "info",
          style: {
              background: "linear-gradient(to right, #ff0000, #dd2a7f)",
          }
        }).showToast();
    }

}

function deleteCategory(orderId) {
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete it!'
  }).then(async (result) => {
    if (result.isConfirmed) {
      try {
        const response = await fetch("/admin/deleteCategory", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({orderId}),
        });

        const result = await response.json()
        
        if(result.status === "success"){
              Swal.fire(
                'Deleted!',
                result.msg,
                'success'
              )
              setTimeout(() => {
                location.reload()
              }, 1000);
        }else{
          throw new Error(result.msg)
        }
      } catch (error) {
          Toastify({
            text: error.message,
            className: "info",
            style: {
                background: "linear-gradient(to right, #ff0000, #dd2a7f)",
            }
          }).showToast();
      }
    }
  })
}

</script>


