<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Foodin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="../assets/img/logo.png" />


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/css/login.css" rel="stylesheet">
    <link href="../assets/css/preloader.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Template Main CSS Files -->
    <link href="../assets/css/variables.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/cart.css" rel="stylesheet">
    <link href="../assets/css/slider.css" rel="stylesheet">


</head>

<body>

    <!--CSS Spinner-->
    <div class="spinner-wrapper">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <!-- ======= Header ======= -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="../assets/img/logo.png" class="img-fluid rounded-circle" alt="logo">
            </a>

            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-layout-text-sidebar-reverse"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form action="/search-result" class="d-flex w-50 searchBar">
                    <input type="search" placeholder="Search" name="search" id="search" class="form-control"
                        aria-label="Search">
                    <button class="btn btn-outline-primary mx-1" type="submit">
                        <span class="bi bi-search"></span>
                    </button>
                </form>

                <!-- Menus -->
                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item pt-2">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item pt-2">
                        <a class="nav-link" href="/foods">Shop</a>
                    </li>
                    <li class="nav-item dropdown pt-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% if (locals.category) { category.forEach((item)=>{
                                %>
                                <li><a href="/foods?page=1&category=<%= item._id %>" class="dropdown-item">
                                        <%= item.categoryName %>
                                    </a></li>
                                <% }) }else{ %>
                                    <p class="text-secondary">No products to display</p>
                                    <% } %>
                        </ul>
                    </li>
                    <div class="d-flex">
                        <li class="nav-item header-icons">
                            <a class="nav-link" aria-disabled="true" href="/cart">
                                <button type="button" class="btn btn-outline-primary position-relative">
                                    <i class="bi bi-cart3"></i>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                        id="cartCounter">
                                        <%= locals.CartLength ? locals.CartLength : "0" %>
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li class="nav-item header-icons">
                            <a class="nav-link" aria-disabled="true" href="/wishlist">
                                <button type="button" class="btn btn-outline-primary position-relative">
                                    <i class="bi bi-bag-heart-fill"></i>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                                        id="wishlistCounter">
                                        <%= locals.wishlistLength ? locals.wishlistLength : "0" %>
                                    </span>
                                </button>
                            </a>
                        </li>
                    </div>
                </ul>
                <div class="navbar">
                    <% if (!isAuthenticated) { %>
                        <a href="/login" class="mx-3 d-none d-md-inline"><span class="bi bi-person-circle"></span>&nbsp;
                            Login</a>
                        <% } else { %>
                            <div class="dropdown">
                                <button class="dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <div class="d-flex align-items-center author mx-3">
                                        <i class="bi bi-list mobile-nav-toggle"></i>
                                        <div class="photo"><img src="../assets/img/person-1.jpg" alt="profile-img"
                                                class="img-fluid"></div>
                                        <div class="name">
                                            <a href="#" class="m-0 p-0">
                                                <%= userName ? userName : "user" %>
                                            </a>
                                        </div>
                                    </div>
                                </button>
                                <ul class="dropdown-menu pb-2">
                                    <li><a class="dropdown-item" href="/my-profile">My Profile</a></li>
                                    <li><a class="dropdown-item" href="/address-book">Address Book</a></li>
                                    <li><a class="dropdown-item" href="/orders">Orders</a></li>
                                    <li><a class="dropdown-item" href="/wallet">Wallet</a></li>
                                    <hr class="my-1">
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>

    <!-- ======= Header ends ======= -->