<%- include('./includes/header') %>

	<main id="main">

		<!-- ======= Hero Slider Section ======= -->
		<section id="hero-slider" class="hero-slider">
			<div class="container-md" data-aos="fade-in">
				<div class="row">
					<div class="col-12">
						<div class="swiper sliderFeaturedPosts">
							<div class="swiper-wrapper">

								<% banner.forEach(element => { %>
									<div class="swiper-slide">
										<a href="<%= element.url %>" class="img-bg d-flex align-items-end"
											style="background-image: url('/banner/<%= element.image %>');">
											<div class="img-bg-inner">
												<h2><%= element.heading %></h2>
												<p><%= element.description %></p>
											</div>
										</a>
									</div>
								<% }) %>
								
							</div>
							<div class="custom-swiper-button-next">
								<span class="bi-chevron-right"></span>
							</div>
							<div class="custom-swiper-button-prev">
								<span class="bi-chevron-left"></span>
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End Hero Slider Section -->

		<!-- ======= Post Grid Section ======= -->
		<section id="posts" class="posts">
			<div class="container" data-aos="fade-up">
				<div class="row">
					<div class="col-lg-2">
						<div class="post-entry-1 lg">
							<!-- <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid"></a> -->
							<!-- <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div> -->
							<h2><a href="single-post.html">Categories</a></h2>
							<ul class="footer-links list-unstyled">
								<% 
									if (locals.categories) { 
										categories.forEach((item)=>{
								%>
									<li><a href="/foods?page=1&category=<%= item.categoryName %>"><i class="bi bi-chevron-right"></i> <%= item.categoryName %></a></li>
								<% }) }else{ %>
									<p class="text-secondary">No products to display</p>
								<% } %>
							</ul>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="row">
							<% 
								if (locals.food) { 
									food.forEach((item)=>{
							%>
								<div class="col-md-3 border-start custom-border">
									<div class="bg-light mb-4">
										<div class="post-entry-1">
											<a href="/foodDetail/<%= item.slug %>">
												<% if(item.image){ %>
													<img src="/food/<%= item.image %>" alt="food image" class="img-fluid mb-0">
												<% }else{ %>
													<img src="/no-image.jpg" class="img-fluid" alt="food image">
												<% } %>
											</a>
											<div class="p-2">
												<small class="text-secondary"><%= item.type === 1 ? "Veg" : "Non-Veg" %> &nbsp;<i class="bi fs-6 bi-circle-fill text-<%= item.type === 1 ? "success" : "danger" %>"></i></small>
												<div class="float-end fs-6">
													<i title="added to cart" class="bi text-danger bi-bag p-1 fs-5" id="addToCart" onclick="addToCart(`<%= JSON.stringify(item) %>`, `<%= isAuthenticated %>`) "></i>
													<i title="add to wishlist" class="bi text-danger bi-heart p-1 fs-5" id="addToWishList" onclick="addToCart(`<%= JSON.stringify(item) %>`, `<%= isAuthenticated %>`) "></i>
												</div>
												<h2 style="height: 50px; padding-top: 10px;" class=""><a href="/foodDetail/<%= item.slug %>"><%= item.foodName %></a></h2>
												<a href="/foodDetail/<%= item.slug %>"><button type="button" class="btn btn-danger float-end">Show Details</button></a>
												<h2 class="pt-2"><a href="/foodDetail/" class="text-success"><b>₹ <%= item.discPrice %></b></a>&nbsp;&nbsp;<small class="text-secondary"><del>₹ <%= item.orgPrice %></del></small></h2>
											</div>
										</div>
										</div>
								</div>
							<% }) }else{ %>
								<p class="text-secondary">No products to display</p>
							<% } %>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="/foods">
									<button class="btn btn-primary w-25 float-end">Show More >>></button>
								</a>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</section> 
	</main>

	
    <script>
        let items = document.querySelectorAll(".carousel .carousel-item");

        items.forEach((el) => {
            const minPerSlide = 4;
            let next = el.nextElementSibling;
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0];
                }
                let cloneChild = next.cloneNode(true);
                el.appendChild(cloneChild.children[0]);
                next = next.nextElementSibling;
            }
        });
    </script>
	<script src="../assets/js/cart.js"></script>
<%- include('./includes/footer') %>