<%- include('./includes/header') %>

	<main id="main" class="pt-5">

		<!-- ======= Hero Slider Section ======= -->
		<section id="hero-slider" class="hero-slider">
			<div class="container-md" data-aos="fade-in">
				<div class="row">
					<div class="col-12">
						<div class="swiper sliderFeaturedPosts">
							<div class="swiper-wrapper">

								<% banner.forEach(element=> { %>
									<div class="swiper-slide">
										<a href="<%= element.url %>" class="img-bg d-flex align-items-end"
											style="background-image: url('/banner/<%= element.image %>');">
											<div class="img-bg-inner">
												<h2>
													<%= element.heading %>
												</h2>
												<p>
													<%= element.description %>
												</p>
											</div>
										</a>
									</div>
									<% }) %>
							</div>
							<div class="custom-swiper-button-next">
								<span class="bi-chevron-right"></span>
							</div>
							<div class="custom-swiper-button-prev">
								<span class="bi-chevron-left"></span>
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Hero Slider Section -->

		<!-- ======= Post Grid Section ======= -->
		<section id="posts" class="posts">
			<div class="container" data-aos="fade-up">
				<div class="row">
					<div class="col-md-2">
						<div class="post-entry-1 py-1">
							<h3><a href="single-post.html">Categories</a></h3>
							<ul class="footer-links list-unstyled">
								<% if (locals.categories) { categories.forEach((item)=>{
									%>
									<li class="w-100">
										<a href="/foods?page=1&category=<%= item._id %>" class="d-flex">
											<i class="bi bi-chevron-right"></i>
											<%= item.categoryName %>
										</a>
									</li>
									<% }) }else{ %>
										<p class="text-secondary">No products to display</p>
										<% } %>
							</ul>
						</div>
					</div>
					<div class="col-md-10">
						<div class="row">
							<% if (locals.food) { food.forEach((item)=> { %>
								<div class="col-12 col-sm-6 col-md-3 col-xl-3 mb-4">
									<div class="card">
										<a href="/foodDetail/<%= item.slug %>">
											<img src="<%= item.image ? '/food/' + item.image : '/no-image.jpg' %>"
												alt="food image" class="card-img-top">
										</a>
										<div class="card-body">
											<small class="text-secondary">
												<%= item.type===1 ? "Veg" : "Non-Veg" %> &nbsp;<i
														class="bi fs-6 bi-circle-fill text-<%= item.type === 1 ? 'success' : 'danger' %>"></i>
											</small>
											<h5 class="card-title mb-2" style="height: 50px;">
												<a href="/foodDetail/<%= item.slug %>">
													<%= item.foodName.slice(0,38) %>
														<%= item.foodName.length> 38 ? '...' : '' %>
												</a>
											</h5>
											<h6 class="card-text">
												<% if (item.discPrice> 0) { %>
													<a href="/foodDetail/" class="text-success">
														<b>₹ <%= item.discPrice %></b>
													</a>&nbsp;
													<small class="text-secondary">
														<del>₹ <%= item.orgPrice %></del>
													</small>
													<small class="text-secondary">
														₹ <%= item.discount %> %
													</small>
													<% } else { %>
														<a href="/foodDetail/" class="text-success">
															<b>₹ <%= item.orgPrice %></b>
														</a>
														<% } %>
											</h6>
											<div class="d-flex justify-content-between">
												<div>
													<a href="/foodDetail/<%= item.slug %>"
														class="btn btn-danger btn-sm"> Details</a>
												</div>
												<div class="d-flex align-items-end">
													<div>
														<i title="added to cart"
															class="bi text-danger bi-bag-fill p-1 fs-5"
															data-item="<%= JSON.stringify(item) %>"
															data-auth="<%= JSON.stringify(isAuthenticated) %>"
															onclick="addToCart(event)"></i>
													</div>
													<div>
														<i title="add to wishlist"
															class="bi text-danger bi-heart-fill p-1 fs-5"
															data-item="<%= JSON.stringify(item) %>"
															data-auth="<%= JSON.stringify(isAuthenticated) %>"
															onclick="addToWishList(event)"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); } else { %>
									<div class="col-12">
										<p class="text-secondary text-center">No products to display</p>
									</div>
									<% } %>
						</div>


						<div class="row">
							<div class="col-md-12">
								<a href="/foods">
									<button class="btn btn-warning w-25 float-end">Show More</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


	<script>
		let items = document.querySelectorAll(".carousel .carousel-item");

		items.forEach((el) => {
			const minPerSlide = 4;
			let next = el.nextElementSibling;
			for (var i = 1; i < minPerSlide; i++) {
				if (!next) {
					// wrap carousel by using first child
					next = items[0];
				}
				let cloneChild = next.cloneNode(true);
				el.appendChild(cloneChild.children[0]);
				next = next.nextElementSibling;
			}
		});
	</script>
	<script src="../assets/js/cart.js"></script>
	<script src="../assets/js/wishlist.js"></script>
	<%- include('./includes/footer') %>