<!-- include header -->
<%- include('./includes/header') %>

    <section style="background-color: #eee;">
        <div class="container profile-section">
            <div class="row">
                <%-include("./includes/profileLeft") %>
                <div class="col-lg-8">
                    <div class="card mb-4 profile-right">
                        <div class="card-body">
                            <div class="row py-3">
                                <div class="col-sm-3">
                                    <h3 class="mb-0">Basic info</h3>
                                </div>
                            </div>
                            <hr>
                            
                            <br>
                            <div class="row py-1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= locals.data.firstName+" "+data.lastName %></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row py-1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= data.email %></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row py-1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"><%= data.phone %></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row py-1">
                                <div class="col-sm-12">
                                    <a href="/edit-profile">
                                        <button type="button" class="btn btn-outline-primary float-end">Edit Profile</button>
                                    </a>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- include footer -->
<%- include('./includes/footer') %>