<!-- include header -->
<%- include('./includes/header') %>

    <section style="background-color: #eee;">
        <div class="container profile-section">
            <div class="row">
                <%-include("./includes/profileLeft") %>
                <div class="col-lg-8">
                    <div class="card mb-4 profile-right">
                        <div class="card-body">
                            <div class="row py-3">
                                <div class="col-sm-">
                                    <h3 class="mb-0 float-start">Order History</h3>
                                    <a href="/canceled-orders">
                                        <button type="button" class="btn btn-outline-danger float-end mb-3">Canceled Orders</button>
                                    </a>  
                                    <a href="/orders" >
                                        <button type="button" class="btn btn-outline-warning float-end mb-3 mx-1">Current Orders</button>
                                    </a> 
                                    <div class="float-end mx-4 pt-2">
                                        <div class="rounded-circle bg-secondary mx-3 float-start" style="width: 20px; height: 20px;"></div>
                                        <h6 class="fw-semibold mb-0 float-start mx-1">Past Orders</h6>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            
                            <%  
                                let i = 1;
                                data.forEach((item)=>{
                            %>
                            <div class="row py-1 text-light">
                                <div class="py-3 col-sm-12">
                                    <div class="bg-secondary rounded p-2">
                                        <button class="btn btn-light float-end" onclick="downloadInvoice('<%= item._id %>', this)">Download Invoice</button>                  
                                        <p class="mb-0 px-3">Order Id : <%= item._id %></p>
                                        <p class="mb-0 px-3">Payment Method : <%= item.paymentMethod %></p>
                                        <p class="mb-0 px-3">Payment Status : <%= item.paymentStatus %></p>
                                        <p class="mb-0 px-3">Address : <%= item.address %></p>
                                        <p class="mb-0 px-3">Date : <%= item.time.toLocaleString("en-US", {day: "numeric", month: "short", year: "numeric"}) %></p>
                                        <p class="mb-0 px-3">Time : <%= item.time.toLocaleString("en-US", {hour: "numeric", minute: "numeric", second: "numeric", hour12: true}); %> </p>
                                        <hr>
                                        <% item.items.forEach((element)=>{ %>
                                            <span class="mb-0 px-3"><b>Dish :</b> <%= element.carted[0].foodName %></span><span class="mb-0 px-3"><b>Qty :</b> <%= element.quantity %></span><span class="mb-0 p-3"><b>Price :</b> <%= element.total %></span>
                                            <hr>
                                        <% }) %>
                                        <h4 class="mb-0 px-3 float-start">Total : <span class="text-danger">₹ <%= item.subTotal %></span></h4>
                                        <h4 class="mb-0 px-3">Wallet Amount : <span class="text-danger">₹ <%= item.walletAmount ? item.walletAmount : 'None' %></span></h4>                                    </div>
                                </div>
                            </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    async function downloadInvoice(orderId, btn) {
        btn.innerHTML = "Downloading..."
    try {
        const response = await fetch(`/generate-pdf/${orderId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/pdf',
            },
        });

        const pdfBlob = await response.blob();

        // Assuming you want to show a success message
        Toastify({
            text: 'Invoice downloaded successfully',
            className: 'info',
            style: {
                background: 'linear-gradient(to right, #0b7303, #24c9a3)',
            },
        }).showToast();
        btn.innerHTML = "Download Invoice"
        // Create a URL for the blob and trigger a download
        // const pdfUrl = URL.createObjectURL(pdfBlob);
        // const link = document.createElement('a');
        // link.href = pdfUrl;
        // link.target = '_blank'; // Open in a new tab
        // link.download = 'invoice.pdf'; // Set the filename for the download
        // link.click();
    } catch (error) {
        Toastify({
                text: error.message,
                className: "info",
                style: {
                    background: "linear-gradient(to right, #ff0000, #dd2a7f)",
                }
                }).showToast();
    }
}
</script>
<%- include('./includes/footer') %>