<%- include("./includes/header") %>
<div class="container-fluid padd-top header-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-light">
                <h2>Search Results for : <%= search %></h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <% 
                if (locals.food) { 
                    food.forEach((item)=>{
            %>
                <div class="col-md-3 border-start custom-border">
                    <div class="p-3 bg-light mb-4">
                        <div class="post-entry-1">
                            <a href="/foodDetail/<%= item.slug %>">
                                <% if(item.image){ %>
                                    <img src="/food/<%= item.image %>" alt="food image" class="img-fluid">
                                <% }else{ %>
                                    <img src="/no-image.jpg" class="img-fluid" alt="food image">
                                <% } %>
                            </a>
                            <small class="text-secondary"><%= item.type === 1 ? "Veg" : "Non-Veg" %> &nbsp;<i class="bi bi-circle-fill text-<%= item.type === 1 ? "success" : "danger" %>"></i></small>
                            <div class="float-end fs-6">
                                <i title="added to cart" class="bi text-danger bi-bag p-1 fs-5" id="addToCart" onclick="addToCart(`<%= JSON.stringify(item) %>`, `<%= isAuthenticated %>`) "></i>
                                <i title="add to wishlist" class="bi text-danger bi-heart p-1 fs-5"></i>
                            </div>
                            <h2 style="height: 50px; padding-top: 10px;" class=""><a href="/foodDetail/<%= item.slug %>"><%= item.foodName %></a></h2>
                            <a href="/foodDetail/<%= item.slug %>"><button type="button" class="btn btn-danger float-end">Show Details</button></a>
                            <h2 class="pt-2"><a href="/foodDetail/" class="text-success"><b>₹ <%= item.discPrice %></b></a>&nbsp;&nbsp;<small class="text-secondary"><del>₹ <%= item.orgPrice %></del></small></h2>
                        </div>
                        </div>
                </div>
            <% }) }else{ %>
                <p class="text-secondary">No products to display</p>
            <% } %>
        </div>
    </div>
</div>
<script src="../assets/js/cart.js"></script>
<%- include("./includes/footer") %>