<!-- include header -->
<%- include('./includes/header') %>

    <% if(!wishlist.length > 0){ %>
    <section style="background-color: #eee;">
        <div class="container profile-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>wishlist</h3>
                        </div>
                        <div class="card-body wishlist">
                            <div class="col-sm-12 empty-wishlist-cls text-center">
                                <img src="./assets/img/emptywishlist.gif" width="380" height="130" class="img-fluid mb-4 mr-3">
                                <h3><strong>Your wishlist is Empty</strong></h3>
                                <h5>
                                    <a href="/foods" class="btn btn-primary wishlist-btn-transform m-3" data-abc="true">Continue Shopping</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% }else{ %>

    <section class="h-100">
        <div class="container py-5">
            <div class="row d-flex justify-content-center my-4">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            
                        </div>
                        <div class="card-body">
                            <!-- Single item -->
                            <% wishlist.forEach(element => { %>
                            <div class="row align-items-center wishlist-items-list">
                                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                    <!-- Image -->
                                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                        <img src="food/<%= element.wishlisted.image !== "" ? element.wishlisted.image : "" %>" class="w-50" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                        </a>
                                    </div>
                                    <!-- Image -->
                                </div>

                                <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
                                    <!-- Data -->
                                    <h5><strong><%= element.wishlisted.foodName %></strong></h5>
                                    <p><%= element.wishlisted.foodType === 1 ? "Veg" : "Non-Veg" %></p>
                                    <h5 class="text-start text-md-center float-end">
                                        <strong class=""> ₹ <span class="total-price text-danger"><%= element.total %></span></strong>
                                    </h5>
                                    <div class="d-flex mb-4" style="max-width: 400px">
                                        <button class="btn btn-primary me-2 wishlist-btn" onclick="decrement(this)">
                                            <i class="bi bi-dash-lg"></i>
                                        </button>
                                        <div class="form-outline">
                                            <input id="<%= element.wishlisted._id %>" min="1" name="quantity" value="<%= element.quantity %>" type="number" class="form-control item-quantity" style="width: 75px;" readonly/>
                                            <input name="foodId" value="<%= element.wishlisted._id %>" type="hidden" class="form-control"/>
                                            <input name="totalStock" value="<%= element.wishlisted.totalStoke %>" type="hidden" class="form-control" class="totalStock"/>
                                            <input name="foodPrice" value="<%= element.wishlisted.discPrice %>" type="hidden" class="form-control"/>
                                        </div>
                                        <button class="btn btn-primary ms-2 wishlist-btn" onclick="increment(this)">
                                            <i class="bi bi-plus"></i>
                                        </button>
                                    </div>
                                    <h6 class="text-start text-md-center float-start">
                                        <strong class="text-secondary">Price : ₹ <span class="org-price"><%= element.wishlisted.discPrice %></span></strong>
                                    </h6>
                                    
                                </div>

                                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                                    <button data-item="<%= element.wishlisted._id %>" type="button" class="wishlist-delete-btn btn btn-danger float-end"><i class="bi bi-trash3-fill"></i></button>
                                </div>
                            </div>
                            <hr>
                            <% }) %>
                        </div>
                    </div>
                    <div class="card mb-4 ">
                        <div class="w-100">
                            <div class="w-25 float-end">
                                <!-- <button id="checkOutBtn"  onclick="checkOut('<%= JSON.stringify(wishlist) %>')" class="m-3 float-end btn btn-success w-50">Checkout</button> -->
                                <a href="/checkout"><button id="checkOutBtn" class="m-3 float-end btn btn-success w-50">Checkout</button></a>
                            </div>
                            <h5 class="float-end m-3">Total : ₹ <span id="subTotal"><%= wishlistTotal[0].subTotal %></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% } %>
    <script src="./assets/js/wishlistActions.js"></script>

<!-- include footer -->
<%- include('./includes/footer') %>
